[user]
	name = ozashu
	email = bm0801667@gmail.com
[core]
	editor = nvim
	pager = less -FRX
	quotepath = false
[init]
	defaultBranch = main
[color]
	ui = auto
[diff]
	tool = nvimdiff
	colorMoved = default
[difftool]
	prompt = false
[branch]
	sort = -committerdate
[pull]
	rebase = true
[rebase]
	autoStash = true
	updateRefs = true
[fetch]
	prune = true
	pruneTags = true
[push]
	autoSetupRemote = true
	default = simple
[rerere]
	enabled = true
	autoupdate = true
[alias]
	co = checkout
	sw = switch
	st = status --short --branch
	br = branch
	ci = commit
	l = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
	lc = log ORIG_HEAD.. --no-merges --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[diff "sopsdiffer"]
	textconv = sops -d
[ghq]
	root = ~/src
[include]
	path = ~/.gitconfig.local
